* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: 0.3s ease-in-out;
}
html {
    height: 100%;
    position: relative;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("https://i.pinimg.com/564x/6b/4e/94/6b4e94adb75b05e9ae7b7876e4c7790d.jpg");
}

form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 350px;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    animation: anim 0.3s ease-in-out;
    user-select: none;
}
form > div {
    width: 100%;
}
input,
textarea {
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    outline: none;
    border: 1px solid lightgray;
}
.submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
    background-color: orange;
    border: none;
}
.submit:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.3s;
}
.notification {
    height: 150px;
    background-color: white;
    position: absolute;
    top: 120px;
    right: 10px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
.notification.show {
    opacity: 1;
    visibility: visible;
}
