@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
}
.formContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.form {
    display: flex;
    position: absolute;
    top: 250px;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 20px;
    animation: anim 0.3s ease-in-out;
    user-select: none;
}
@keyframes anim1 {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes anim {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
h1 {
    color: white;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    user-select: none;
}
.form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.input-container {
    width: 100%;
}

.input-container input,
.form button {
    outline: none;
    margin: 8px 0;
}

.input-container input {
    width: 100%;
    background-color: #1e1e1e;
    padding: 1rem;
    border: none;
    color: white;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.input-container input:focus {
    border: 0.5px solid rgb(61, 60, 60);
}
.input-container span {
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    place-content: center;
}

.input-container span svg {
    color: #9ca3af;
    width: 1rem;
    height: 1rem;
}

.submit {
    display: block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 370px;
    height: 56px;
    border-radius: 10px;
    text-transform: uppercase;
    color: lightgray;
    background-color: white;
}
.submit:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.3s;
}

.signup-link {
    color: #6b7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.signup-link a {
    text-decoration: underline;
    color: orange;
}
.imageLoops {
    animation: anim1 0.3s ease-in-out;
    filter: drop-shadow(8px 2px 5px lightgrey);
}
.notification {
    height: 150px;
    background-color: white;
    position: absolute;
    top: 120px;
    right: 10px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 999;
}
.notification.show {
    opacity: 1;
    visibility: visible;
}
